body {
  display: block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background-image: url('../images/background2.jpg');
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39, auto;
}


.App {
  text-align: center;  
}

#navbar {
  background: transparent;
}


.navlink {
  color: #ffffff;
  float: right;
  padding-right: 1rem;
}

.authForm {
  margin-top: 10vh;
  background-color: #383838a6;
  display: inline-block;
  width: 40%;
  padding: 2.5rem;
}

#card {
  height: 500px !important;
  border-radius: 10px;
  width: 150px;
  margin: 1rem auto;
  background-color: #afafaf !important;
  display: block;
  padding: 2rem;
  text-align: left;
  position: absolute !important;

}

#img {
  height: 280px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#welcome {
  font-size: 1rem;
}

#brand {
  font-size: 2rem;
  font-family: 'Rochester', cursive;
  z-index: 1;
  margin-top: 5vh;
}

#matched{
  font-size: 6rem;
  font-family: 'Rochester', cursive;
  padding: 1rem;
}

.formHeader {
  font-size: 2.5rem;
  font-family: 'Rochester', cursive;
}

#baseComp {
  padding: 1rem;
}

#matchBox {
  margin-top: 10vh;
  background-color: #383838a6;
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 2rem;
}

#logo{
  z-index: -1;
  margin: 0 auto;
  width: 45%;
  height: auto;
  padding: 0;
}

#button{
  z-index: 1;
  position: relative;
}