body {
  display: block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;  
}

#navbar {
  background: transparent;
}


.navlink {
  color: #ffffff;
  float: right;
  padding-right: 1rem;
}

.authForm {
  margin-top: 15vh;
  background-color: #222222a6;
  display: inline-block;
  width: 50%;
  padding: 2rem;
}

#welcome {
  font-size: 1rem;
}

#brand {
  font-size: 10rem;
  font-family: 'Rochester', cursive;
}

#baseComp {
  padding: 1rem;
  margin-top: 15vh;
}